.hh-box-name{position: absolute; top: -28px; left: 0; width: inherit; 
    font-weight: bolder; font-size: x-large; color: blue;}
.hh-box-price{position: absolute; left: 5px; bottom: 10px; font-weight: bolder; color: red;}
.hh-box-image{width: 170px; margin-top: 20px;}
.hh-box-icon{position: absolute; top: 0; right: 0; width: 75px;}
.hh-box{
    width: 200px; height: 260px; text-align: center;
    border:1px solid blue; position: relative;
    display: inline-block;
    margin: 33px 5px 5px 5px;
}
.hh-box:hover{border-radius: 7px; box-shadow: 0 0 10px green;}